{% load group_tag %}
<div class="alert alert-danger" id="amount_alert text-center">कृपया {{group_name.maximum_loan}} पेक्षा  कमी रक्कम टाका. <br> गटाकडे उपलब्ध असलेली रक्कम {% available_amount group.id %}</div>
<center>
    <b><h5>{{m.name}}</h5></b>
</center>

<form method="POST">{% csrf_token %}

<input type="hidden" value="{{m.id}}" name="member_id">
<br>
<div class="mb-3">
    <label for="">कर्जाची रक्कम टाका </label>
    <input type="number" class="form-control" required placeholder="कर्जाची रक्कम टाका" name="loan_amount" id="amount{{m.id}}" oninput="check_amount('{{m.id}}')">
</div>
<div class="mb-3">
    <label for="">कमीत कमी कर्जाचा हप्ता</label>
    <input type="number" class="form-control" required placeholder="कमीत कमी कर्जाचा हप्ता" name="minimum_loan_installment" id="minimum_loan_installment{{m.id}}" oninput="check_zero('minimum_loan_installment{{m.id}}')">
</div>
<div class="mb-3">
    <label for="">Serect Pin</label>
    <input type="password" class="form-control mt-2" required placeholder="Enter Your Serect Pin" id="pin{{m.id}}" oninput="check_pin('{{m.id}}')">
</div>
<br>
<button  class="btn btn-danger" id="add_loan_btn{{m.id}}" name="add_loan_member" style="display: none;">Add Loan</button>

</form> 
<script>
    function check_zero(input_id){
        value = document.getElementById(input_id).value;
        if (value  < 0){
            value =document.getElementById(input_id).value = 0
        }
    }
    maximum_loan = '{{group.maximum_loan}}'
    function check_amount(m_id){
        amount = document.getElementById('amount'+m_id).value;
        if (Number(amount) > 0){}
        if (Number(amount) < 0){
            amount = document.getElementById('amount'+m_id).value = 0;
        }
        if (Number(amount) <= Number(maximum_loan)){
        }
        if (Number(amount) > Number(maximum_loan)){
            alert('कृपया {{group.maximum_loan}} पेक्षा  कमी रक्कम टाका.')
            amount = document.getElementById('amount'+m_id).value = 0
        }
        if (Number(amount) <= Number('{% available_amount group.id %}')){
        }
        if (Number(amount) >= Number('{% available_amount group.id %}')){
            alert('कृपया {% available_amount group.id %} पेक्षा  कमी रक्कम टाका.')
            amount = document.getElementById('amount'+m_id).value = 0
        }

    }
    function check_pin(m_id){
        pin = document.getElementById('pin'+m_id).value;
        if (Number(pin) == Number('{{group.pin}}')){
            document.getElementById('add_loan_btn'+m_id).style.display = 'unset'
        }
        if (Number(pin) != Number('{{group.pin}}')){
            document.getElementById('add_loan_btn'+m_id).style.display = 'none'
        }
    }

</script>