{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% load static %}
{% load group_tag %}
<div>welcome - {{group.group_name}}</div>


{% include 'include/group/group_menu.html' %}

<style>
    .member_box{
        padding: 10px;
        width: 100%;
        border: 1px solid black;
        margin-bottom: 10px;
    }
</style>

<div class="container">
    {% include 'include/alert.html' %}
    {% for m in members %}
    {% check_collection_status m.id as n %}
        <div {% if n == 'yes' %} style="display: none;" {% endif %} class="member_box">
            <div class="text-center" onclick="member_details('{{m.id}}')">{{m.name}} <p>Mobile {{m.mobile}}</p> </div>
            <div id="members_detail{{m.id}}" class="mb-3"></div>
        </div>
    {% endfor %}
</div>
 
<script>
    last_id = 0
    function member_details(id){
        $.ajax({
            url: "{% url 'member_details' %}",
            method: "GET",
            data:{
                id:id,
            },
            success: function(res){
                $("#members_detail" + last_id).html('')
                $("#members_detail" + id).html(res.t)
                last_id = 0
                last_id = id
            }
        })
    }
         

    
</script>
{% endblock content %}