{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% load group_tag %}
{% include 'include/group/group_menu.html' %}
<style>
    .member_box{
        padding: 10px;
        width: 100%;
        border: 1px solid black;
        margin-bottom: 10px;
    }
</style>

<div class="container">
    {% include 'include/alert.html' %}
    {% for m in member %}
    {% check_collection_status m.id as n %}
        {% if n == 'yes' %}
            {% check_member_group_loan_installment_collection_status m.id as check_member_group_loan_installment_collection_status %}
            <div   class="member_box" {% if check_member_group_loan_installment_collection_status == 0 %} style="display: none;"{% endif %} >
                <div class="text-center">{{m.name}} <p>Mobile {{m.mobile}}</p>  चालू महिन्यात भरलेली कर्जाची मुद्दल <b> Rs.{{check_member_group_loan_installment_collection_status}}</b> </div>
                <div class="text-center">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{m.id}}">Edit</button>
                </div>
            </div>
            <div class="modal fade" id="exampleModal{{m.id}}"  aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form method="POST">
                        <input type="hidden" name="member_id" value="{{m.id}}">
                        <div class="mb-3">
                            <input type="password" name="pin" placeholder="Inter Your Pin">

                            <button type="submit" class="btn btn-danger" name="check_pin" >Submit</button>
                        </div>

                    </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}