{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% load static %}
{% load group_tag %}
<div>welcome - {{group.group_name}}</div>


{% include 'include/group/group_menu.html' %}

<style>
    .main_box{
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        gap: 10px;
        justify-content: center;

    }
    .eligible_member{
        margin: 0 auto;
        padding: 10px;
        width: 200px;
        border: 1px solid green;
        text-align: center;
        border-radius: 10px;
    }
</style>

<div class="container">
    {% loan_demand_list %}
    <br>
    <div class="main_box">
    {% for m in members %}
        {% check_member_loan m.id as n %}
        {% if n.amount == 0 %}
        <div class="eligible_member">
                <div>{{m.name}}</div>
                <div><button type="button" onclick="member_details('{{m.id}}')" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{m.id}}">Add Loan</button></div>
            </div>
        {% else %}
            <div class="eligible_member" style="border-color: red;">
                <div>{{m.name}}</div>
                <div>{{n.amount}}</div>
            </div>
        {% endif %}
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">नवीन कर्ज तपशील भरा</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modal-body" class="modal-body">
            <div id="members_details{{m.id}}"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
<br>
</div>
</div>

<script>
    last_id = 0
    function member_details(member_id){
        if (member_id != 'Select Member'){
            if (last_id != member_id){
                console.log(member_id)
                last_id = member_id
                $.ajax({
                        url: "{% url 'member_details_loan' %}",
                        method: "GET",
                        data:{
                            id:member_id,
                            },
                            success: function(res){
                                $("#members_details" + member_id).html(res.t)
                            }
                    })
            }
        }
    }
</script>
{% endblock content %}