<style>
    .but{
            display: flex;
            gap: 10px;
            overflow: scroll;
            width: 100%;
        }
</style>

<div class="but">
    <a  href="/group/group_home/" class="my-1 {% if request.path == '/group/group_home/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a>
    <a  href="/group/collection/" class="my-1 {% if request.path == '/group/collection/' %}btn btn-warning{% else %}btn btn-primary{% endif %}" >Collection</a>
    <a  href="/group/loan/" class="my-1 {% if request.path == '/group/loan/' %}btn btn-warning{% else %}btn btn-primary{% endif %}" >Loan</a>
    <a  href="/group/members/" class="my-1 {% if request.path == '/group/members/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Members</a>
    <a  href="/group/profile/" class="my-1 {% if request.path == '/group/profile/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Profile</a>
    <a href="/logout/" class="btn btn-danger my-1">Logout</a>
</div>